body{
  background-color:lightgrey;
}

h1{
  text-align:center;
}

div{
  margin: auto;
  padding-left:80px;
  width:70%;
  height:500px;
}

table{
  margin:auto;
}

#fuckyou{
  visibility:hidden;
  width:500px;
  position:relative;
  bottom:80%;
  left:3.5%;
}
